.number {
    animation: fadeIn 0.3s ease-in forwards;
    font-family: sans-serif;
    font-size: larger;
}

.competitionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}